@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    background: #000000;
    color:#ffffff;
}
.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width:615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo-titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}
.apresentacao__conteudo-texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.titulo-destaque,.conteudo-destaque{
    color: #00ffff ;
}
img{
    height: 450px;
    width: 450px;
    border-radius: 16px;
    box-shadow:0.5em -0.5em 1em #00ffff;
}
.apresentacao__link{
    display: flex;
    justify-content: space-between;
}
.apresentacao__link__botao{ 
    width: 200px;
    background: #00ffff;
    font-size: 14px;
    text-align: center;
    padding: 21.5px 0;
    color:#000000;
    border-radius: 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}